export PUID=1000
export PGID=1000
export  FLATNOTES_AUTH_TYPE=password
export  FLATNOTES_USERNAME=user
export  FLATNOTES_PASSWORD=changeMe!
export  FLATNOTES_SECRET_KEY=aLongRandomSeriesOfCharacters
export  FLATNOTES_PATH="/home/senyc/blahblah"
use flake
